apiVersion: metallb.io/v1beta1
kind: IPAddressPool
metadata:
  name: harvis-ip-pool
  namespace: metallb-system
spec:
  addresses:
  - 139.182.180.200-139.182.180.210
---
apiVersion: metallb.io/v1beta1
kind: L2Advertisement
metadata:
  name: harvis-l2-adv
  namespace: metallb-system
spec:
  ipAddressPools:
  - harvis-ip-pool
